<div class="container mx-auto p-4 text-white">
    <div class="bg-gray-800 p-6 rounded-lg shadow-lg">
        <h1 class="text-xl font-bold mb-4">Peso y IMC</h1>
        
        <div class="flex justify-between mb-4">
            <div>
                <p>Peso (kg)</p>
                <p>Min: <span id="minPeso">--</span> Máx: <span id="maxPeso">--</span></p>
            </div>
            <div>
                <p>BMI</p>
                <p>Min: <span id="minBMI">--</span> Máx: <span id="maxBMI">--</span></p>
            </div>
        </div>

        <div class="mb-4">
            <button id="graficaBtn" class="mr-4 py-2 px-4 bg-blue-600 rounded-lg">Gráfica</button>
            <button id="historialBtn" class="py-2 px-4 bg-gray-600 rounded-lg">Historial</button>
        </div>

        <div id="grafica" class="hidden">
            <canvas id="pesoChart"></canvas>
        </div>

        <div id="historial" class="hidden">
            <ul id="historialList" class="list-disc pl-5"></ul>
        </div>

        <button class="view-diario-in w-full py-2 bg-light-slate-blue rounded-lg font-semibold mt-4">+ Añadir</button>
    </div>
</div>

<nav class="fixed bottom-0 left-0 w-full bg-white shadow-md md:hidden">
    <div class="max-w-md mx-auto flex justify-around py-2">
        <button class="flex flex-col items-center text-gray-600 hover:text-violet-blue active">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
            </svg>                  
            <span class="text-sm">Inicio</span>
        </button>

        <button class="view-article flex flex-col items-center text-black hover:text-violet-blue">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.068.157 2.148.279 3.238.364.466.037.893.281 1.153.671L12 21l2.652-3.978c.26-.39.687-.634 1.153-.67 1.09-.086 2.17-.208 3.238-.365 1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0 0 12 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018Z" />
            </svg>                  
            <span class="text-sm">Articulos</span>
        </button>

        
        <div class="view-diario flex flex-col items-center text-black hover:text-violet-blue">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 0 0 5.454-1.31A8.967 8.967 0 0 1 18 9.75V9A6 6 0 0 0 6 9v.75a8.967 8.967 0 0 1-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 0 1-5.714 0m5.714 0a3 3 0 1 1-5.714 0M3.124 7.5A8.969 8.969 0 0 1 5.292 3m13.416 0a8.969 8.969 0 0 1 2.168 4.5" />
              </svg>                  
            <span class="text-sm">Notificaciones</span>
        </div>
        <a href="profile.html" class="flex flex-col items-center text-black hover:text-violet-blue">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
            </svg>                  
            <span class="text-sm">Perfil</span>
        </a>
        <button href="#" id="logout-button" class="flex flex-col items-center text-black hover:text-violet-blue">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 19.5v-15M5.25 12l6.75-6.75M5.25 12l6.75 6.75" />
            </svg>                  
            <span class="text-sm">Cerrar Sesión</span>
        </button>
    </div>
</nav>

<script>
    // Manejadores de eventos para cambiar entre vistas parciales
    document.querySelector('.view-article').addEventListener('click', function(){
        loadPartialView('article-main', document.querySelector('.init'), false);
    });

    document.querySelector('.view-diario-in').addEventListener('click', function(){
        loadPartialView('diario-in', document.querySelector('.init'), false);
    });

    document.getElementById('historialBtn').addEventListener('click', function() {
        document.getElementById('historial').classList.remove('hidden');
        document.getElementById('grafica').classList.add('hidden');
        mostrarHistorial();
    });

    document.getElementById('graficaBtn').addEventListener('click', function() {
        document.getElementById('grafica').classList.remove('hidden');
        document.getElementById('historial').classList.add('hidden');
        mostrarGrafica();
    });

    // Función para mostrar el historial de registros
    function mostrarHistorial() {
        const historialList = document.getElementById('historialList');
        historialList.innerHTML = ''; // Limpiar la lista antes de agregar nuevos elementos

        auth.onAuthStateChanged((user) => {
            if (user) {
                const userId = user.uid; // ID único del usuario autenticado

                // Referencia a los registros IMC del usuario
                const imcRecordsRef = db.collection("users").doc(userId).collection("imcRecords");

                // Consulta para obtener los registros ordenados por fecha
                imcRecordsRef.orderBy("fecha").get().then((querySnapshot) => {
                    querySnapshot.forEach((doc) => {
                        const registro = doc.data();
                        const listItem = document.createElement('li');
                        listItem.textContent = `Fecha: ${registro.fecha.toDate().toLocaleDateString()}, Peso: ${registro.peso}, IMC: ${registro.imc}`;
                        historialList.appendChild(listItem);
                    });
                }).catch((error) => {
                    console.error("Error al obtener registros IMC: ", error);
                });
            } else {
                console.log("Usuario no autenticado.");
                // Manejar el caso donde el usuario no está autenticado
            }
        });
    }

    // Función para mostrar la gráfica con los registros obtenidos
    function mostrarGrafica() {
        auth.onAuthStateChanged((user) => {
            if (user) {
                const userId = user.uid; // ID único del usuario autenticado

                // Referencia a los registros IMC del usuario
                const imcRecordsRef = db.collection("users").doc(userId).collection("imcRecords");

                // Consulta para obtener los registros ordenados por fecha
                imcRecordsRef.orderBy("fecha").get().then((querySnapshot) => {
                    const registros = [];
                    querySnapshot.forEach((doc) => {
                        registros.push(doc.data());
                    });
                    actualizarGrafica(registros);
                }).catch((error) => {
                    console.error("Error al obtener registros IMC: ", error);
                });
            } else {
                console.log("Usuario no autenticado.");
                // Manejar el caso donde el usuario no está autenticado
            }
        });
    }

    // Función para actualizar la gráfica con los registros obtenidos
    function actualizarGrafica(registros) {
        // Preparar datos para la gráfica
        const fechas = registros.map(registro => registro.fecha.toDate().toLocaleDateString());
        const pesos = registros.map(registro => registro.peso);
        const bmis = registros.map(registro => registro.imc);

        // Actualizar valores mínimos y máximos de peso y BMI
        const minPeso = Math.min(...pesos);
        const maxPeso = Math.max(...pesos);
        const minBMI = Math.min(...bmis);
        const maxBMI = Math.max(...bmis);

        // Actualizar los valores en el DOM
        document.getElementById('minPeso').textContent = minPeso.toFixed(1);
        document.getElementById('maxPeso').textContent = maxPeso.toFixed(1);
        document.getElementById('minBMI').textContent = minBMI.toFixed(1);
        document.getElementById('maxBMI').textContent = maxBMI.toFixed(1);

        // Configurar datos y opciones de la gráfica usando Chart.js
        const ctx = document.getElementById('pesoChart').getContext('2d');
        const chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: fechas,
                datasets: [
                    {
                        label: 'Peso (kg)',
                        data: pesos,
                        borderColor: 'rgba(255, 99, 132, 1)',
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        tension: 0.1
                    },
                    {
                        label: 'IMC',
                        data: bmis,
                        borderColor: 'rgba(54, 162, 235, 1)',
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        tension: 0.1
                    }
                ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        // Mostrar elementos de la gráfica y ocultar historial inicialmente
        document.getElementById('grafica').classList.remove('hidden');
        document.getElementById('historial').classList.add('hidden');
    }

    // Función para cerrar sesión
    document.getElementById('logout-button').addEventListener('click', function(event) {
        event.preventDefault();
        auth.signOut().then(() => {
            console.log('Sesión cerrada correctamente.');
            // Redirigir al usuario a la página de inicio de sesión
            loadPartialView('home-app', document.querySelector('.init'), false);
        }).catch((error) => {
            console.error('Error al cerrar sesión:', error);
        });
    });
</script>