.carousel-container {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 20px;
}

.carousel-item {
    scroll-snap-align: center;
    flex: 0 0 auto;
    width: 200px;
    height: 250px;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.carousel-item-dos {
    scroll-snap-align: center;
    flex: 0 0 auto;
    width: 200px;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.carousel-item img {
    width: 100px;
    height: auto;
    margin-bottom: 10px;
}

.imc-bar {
    position: relative;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #e0e0e0;
}

.imc-segment {
    height: 100%;
    float: left;
}

.peso-bajo {
    width: 25%;
    background-color: #FFD700;
    /* Color para "Bajo" */
}

.normal {
    width: 25%;
    background-color: #7CFC00;
}

.sobrepeso {
    width: 25%;
    background-color: #FFA500;
}

.obesidad {
    width: 25%;
    background-color: #FF6347;
}

#imc-indicator {
    position: absolute;
    top: -5px;
    /* Asegúrate de que este valor alinee el indicador correctamente */
    width: 10px;
    height: 30px;
    background-color: #000;
}

.glucosa-bar {
    position: relative;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #e0e0e0;
}

.glucosa-segment {
    height: 100%;
    float: left;
}

.glucosa-segment.bajo {
    width: 25%;
    background-color: #FFD700;
    /* Color para "Bajo" */
}

.glucosa-segment.normal {
    width: 25%;
    background-color: #7CFC00;
    /* Color para "Normal" */
}

.glucosa-segment.prediabetes {
    width: 25%;
    background-color: #FFA500;
    /* Color para "Prediabetes" */
}

.glucosa-segment.diabetes {
    width: 25%;
    background-color: #FF6347;
    /* Color para "Diabetes" */
}

#glucosa-indicator {
    position: absolute;
    top: -5px;
    /* Asegúrate de que este valor alinee el indicador correctamente */
    width: 10px;
    height: 30px;
    background-color: #000;
    transform: translateX(-50%);
    /* Centra el indicador sobre la barra */
}